body {
    background: linear-gradient(to right, #FF5733, #FFC300);
    color: white;
    font-family: Arial, sans-serif;
    padding: 20px;
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

p {
    font-size: 1.2em;
}
