body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    color: #050C9C;
}

.left {
    text-align: left;
    color: #3572EF;
}

.center {
    text-align: center;
    color: #3ABEF9;
}

.right {
    text-align: right;
    color: #A7E6FF;
}
